.sideBarButton {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: none;
}

.contentIn {
    width: calc(100% - 280px);
    box-sizing: border-box;
    padding-top: 30px;
}

@media screen and (max-width: 850px){
    .contentIn{
        width: 100%;
    }
    .sideBarButton {
        display: inline-block;
    }
    .container.flex-container {
        position: relative;
    }
}