.content_text_one_news {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 28px 38px 29px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.one_news_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one_news_image {
    width: 25%;
}
.one_news_image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.one_news_info {
    flex-grow: 1;
    padding-left: 20px;
}