.content_text {
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}
.content_text.user {
    width: 100%;
    overflow: hidden;
}
.user_link {
    width: 50%;
    margin: 0 auto;
}
.user_info{
    /*position: relative;*/
}
.one_user_list_image {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.link_to_one_user {
    font-size: 24px;
    color: black;
}
.one-user-list_username {
    margin-bottom: 15px;
}
.one-user-list_description {
    font-size: 16px;
    color: black;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 25px;
}
.one-user-list_description span {
    margin-right: 10px;
}
.one-user-list_description p{
    display: inline-block;
}
.user_actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    float: right;
}
.user_actions a {
    font-size: 25px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.delete_user {
    border: 1px solid #de0000;
    color: #de0000!important;
}
.delete_user:hover {
    color: #ffffff!important;
    background: #de0000;
}
.edit_user {
    color: #5e478b!important;
    border: 1px solid #3b20ff;
}
.edit_user:hover {
    color: #ffffff!important;
    background: #5e478b;
}
.content_text.user {
    padding: 10px;
}
@media screen and (max-width: 500px){
    .content_text.user {
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    .content_text.user {
        width: 100%;
    }
}
