.add-user_title {
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px;
}
.add_user_image img{
    border: 1px solid black;
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}
.add-user_row-description {
    height: 40px;
}
.add-user-select {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    margin: 20px 0;
}
.add-user_select.add-user {
    /*margin-bottom: 20px;*/
    /*border: none;*/
    /*width: 198px;*/
    /*height: 40px;*/
    /*background: #5e478b;*/
    /*border-radius: 5px;*/
    /*color: #ffff;*/
}
.addImage {
    margin-bottom: 20px;
    border: none;
    width: 198px;
    height: 40px;
    background: #965df1;
    border-radius: 5px;
    color: #ffff;
    padding: 10px 0px 0px 10px;
    font-family: 'museo_sans_cyrl900';
}
.addImage svg {
    margin-right: 15px;
    vertical-align: unset;
}
.login-page_btn {
    margin: 0;
}
@media screen and (max-width: 673px){
    .add-user_title{

    }
}