input {width: 100px;}
.form-row {height: 40px;}
.react-numeric-input input {width: 90px; height: 40px;}
.react-numeric-input b {width: 40px !important;}
.table-index {width: 30px;}
.diagram_text{ font-size: 13px;}
.select-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
}
.diagram-select{
    width: 200px;
}
.diagram-btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}
.diagram-btn {
    width: 250px !important;
    display: inline-block;
    box-shadow: 0 -7px 0 0 #3c2c5a inset;
    text-align: center;
}
.diagram{
    height: 550px;
    width: 100%;
}
.diagram-color-info {
    margin-bottom: 45px;
}
.diagram-color {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 15px;
}
.diagram-info {
    border: 1px solid black;
    background-color: orange;
    display: inline-block;
    width: 15%;
    height: 50px;
    margin-right: 25px;
    position: relative;
    border-radius: 4px;
}
.diagram-color span {
    display: inline-block;
    vertical-align: middle;
}
.diagram-lines {
    display: inline-block;
    width: 75%;
    font-size: 25px;
}
.diagram-info::before {
    content: "";
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 50%;
    position: absolute;
    bottom: 25px;
    right: -75px;
}
.diagram-second {
    background-color: green;
}
.diagram-third {
    background-color: red;
}
@media screen and (max-width: 480px) {
    .diagram{
        height: 320px;
        width: 100%;
    }
}
@media screen and (max-width: 340px) {
    .diagram{
        height: 280px;
        width: 100%;
    }
}
@media screen and (max-width: 970px){
    .diagram-info::before {
        right: -60px;
    }
}
@media screen and (max-width: 910px){
    .diagram-info::before {
        right: -56px;
    }
}
@media screen and (max-width: 870px){
    .diagram-info::before {
        right: -48px;
    }
}
@media screen and (max-width: 810px){
    .diagram-info::before {
        right: -46px;
    }
}
@media screen and (max-width: 785px){
    .diagram-info::before {
        right: -42px;
    }
}
@media screen and (max-width: 770px){
    .diagram-info::before {
        right: -65px;
    }
}
@media screen and (max-width: 700px){
    .diagram-info::before {
        right: -60px;
    }
}
@media screen and (max-width: 655px){
    .diagram-info::before {
        right: -55px;
        width: 45%;
    }
}
@media screen and (max-width: 620px){
    .diagram-info::before {
        right: -48px;
        width: 40%;
    }
}
@media screen and (max-width: 540px){
    .diagram-info {
        width: 20%;
    }
    .diagram-info::before {
        right: -53px;
    }
    .diagram-lines {
        width: 68%;
        font-size: 20px;
        line-height: 35px;
    }
}
@media screen and (max-width: 520px){
    .diagram-info::before {
        right: -48px;
    }
}
@media screen and (max-width: 495px){
    .col-lg-6 {
        width: 100%;
    }
}
@media screen and (max-width: 475px){
    .diagram-info::before {
        right: -45px;
    }
}
@media screen and (max-width: 430px){
    .diagram-info::before {
        right: -42px;
    }
}
@media screen and (max-width: 400px){
    .diagram-info::before {
        right: -40px;
    }
}
@media screen and (max-width: 375px){
    .diagram-info::before {
        right: -37px;
    }
    .diagram-lines {
        font-size: 20px;
        line-height: 35px;
    }
}
@media screen and (max-width: 350px){
    .diagram-info {
        width: 25%;
    }
    .diagram-info::before {
        right: -45px;
    }
    .diagram-lines {
        width: 57%;
        font-size: 17px;
        line-height: 40px;
    }
}
@media screen and (max-width: 344px){
    .diagram-lines {
        font-size: 15px;
        line-height: 44px
    }
}