.edit-news_title {
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px;
}
.add-image {
    margin-bottom: 15px;
}
.edit-news_select.add-file label {
    width: 235px;
}
.edit-news_select.add-image label {
    width: 235px;
}
.edit-news_image img {
    border: 1px solid black;
    width: 150px;
    height: auto;
    border-radius: 5px;
}
.btn.edit-news_btn{
    width: 235px;
}