textarea {
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    min-height: 70px;
    padding: 12px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    display: block;
    resize: vertical;
}

label {
    cursor: pointer;
    font-size: 14px;
    font-family: 'museo_sans_cyrl500';
    padding-left: 12px;
    margin-bottom: 5px;
    display: block;
    letter-spacing: 0.3px;
}