.tasks-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.tasks-container-filter {
    width: 360px;
}

.tasks-container_list {
    flex-grow: 1;
    padding-right: 30px;
    max-width: calc(100% - 360px);
}
@media screen and (max-width: 600px){
    .tasks-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .tasks-container-filter {
        width: 90%;
        margin: 0 auto;
    }
    .tasks-container_list {
        max-width: 100%;
        margin-top: 35px;
        padding-right: 0;
    }
}