.edit-user_title{
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px;
}

.edit-user-select {
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
    margin: 20px 0;
}
.edit-user_select.add-image label{
    width: 235px;
}
.edit-user_image img {
    border: 1px solid black;
    width: 150px;
    height: auto;
    border-radius: 5px;
}