.content_text {
    margin-bottom: 15px;
}
.content_text.news {
    width: 100%;
    overflow: hidden;
}
.news_link {
    width: 50%;
    margin: 0 auto;
}
.one_news_list_image {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.link_to_one_news {
    font-size: 24px;
    color: black;
}
.one-news_link-title {
    margin-bottom: 15px;
}
.one-news.link-description {
    width: 50%;
    margin: 0 auto;
}
.news_date {
    margin-bottom: 15px;
    width: 50%;
    margin: 0 auto;
}
.news_actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    float: right;
}
.news_actions a {
    font-size: 25px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.delete-news-button {
    border: 1px solid #de0000;
    color: #de0000!important;
}
.delete-news-button:hover {
    color: #ffffff!important;
    background: #de0000;
}
.edit_news{
    color: #5e478b!important;
    border: 1px solid #3b20ff;
}
.edit_news:hover {
    color: #ffffff!important;
    background: #5e478b;
}
.news-download {
    color: #05963a!important;
    border: 1px solid #05963a;
}
.news-download:hover {
    color: #ffffff!important;
    background: #05963a;
}
.content_text.news {
    padding: 10px;
}
@media screen and (max-width: 500px){
    .content_text.news {
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    .content_text.news {
        width: 100%;
    }
}
