.one-task {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

.one-task--priority {
    background: #ff0000;
    color: #ffffff;
}

.done {
    background: #00c046;
    color: #ffffff;
}

.overdue {
    background: #000;
    color: #ffffff;
}

.one-task_title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.one-task_description {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    display: block;
}

.one-task_header {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.one-task:hover {
    background: #3c2c5a;
    color: #ffffff;
}

.one-task_header span {
    display: block;
}