.task-modal_backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.task-modal {
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.task-modal_button {
    margin-right: 20px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.task-modal_button:hover {
    opacity: 0.8;
}

.task-modal_button--delete {
    background: #ff0000;
}

.task-modal_button--edit {
    background: #3b20ff;
}

.task-modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff0000;
    color: #ffffff;
}

.task-modal_close:hover {
    transform: scale(1.1);
}

.task-modal_editor-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.task-modal_item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
}

.task-modal_title {
    font-weight: bold;
    font-size: 16px;
    padding-right: 30px;
}

.task-modal_date {
    font-weight: bold;
}

.task-modal_label {
    margin-bottom: 3px;
    display: block;
}

.task-modal_fire {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: auto;
}

.confirmation-modal_backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.confirmation-modal {
    width: 350px;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px;
}

.confirmation-modal p {
    display: block;
    margin-bottom: 20px;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: 'museo_sans_cyrl500';
}

.confirmation-modal_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.confirmation-modal_buttons button {
    display: block;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #ffffff;
}

.confirmation-modal_buttons--delete {
    background: #ff0000;
}

.confirmation-modal_buttons--cancel {
    background: #3b20ff;
}
.task-modal_button--cd {
    background: #3c2c5a;
}

.stages_block {
    position: absolute;
    width: 200px;
    height: 100px;
    right: 55px;
    top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.stage-marker {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #3c2c5a;
    margin-right: 5px;
    margin-bottom: 5px;
}

.stage-marker.done {
    background: #00e268;
}

.stage-marker.in_progress {
    background: #ff0000;
}

.task-modal_button--complete {
    background: #00e268;
}