.add-news_title {
    font-family: 'museo_sans_cyrl900';
    font-size: 32px;
    margin-bottom: 48px;
}
.add-news_select {
    margin-bottom: 10px;
}
.add-image {
    margin-bottom: 15px;
}
.add_news_image img {
    border: 1px solid black;
    width: 150px;
    height: auto;
    border-radius: 5px;
}
.addImage svg {
    margin-right: 15px;
    vertical-align: unset;
}
.attachFile {
    margin-bottom: 20px;
    border: none;
    width: 198px;
    height: 40px;
    background: #965df1;
    border-radius: 5px;
    color: #ffff;
    padding: 10px 0px 0px 10px;
    font-family: 'museo_sans_cyrl900';
}
.attachFile svg {
    margin-right: 15px;
    vertical-align: unset;
}