input[type="text"]:not(.rc-time-picker-input), input[type="password"] {
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    font-size: 16px;
    width: 100%;
    display: block;
}

label {
    cursor: pointer;
    font-size: 14px;
    font-family: 'museo_sans_cyrl500';
    padding-left: 12px;
    margin-bottom: 5px;
    display: block;
    letter-spacing: 0.3px;
}