.login-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-page_row {
    width: 320px;
}

.login-page_title {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'museo_sans_cyrl900';
}

.login-page_btn {
    margin: 0 auto;
}