.countdown-container {
    width: 100%;
    padding: 20px;
}
.countdown-container .datepicker-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.countdown-container .datepicker-container > div {
    position: fixed;
    width: 360px;
    height: 480px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.plus-icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px auto 0;
    box-shadow: 0 5px 10px grey;
    background-color: #fff;
}

.plus-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto auto;
    font-size: 60px;
    cursor: pointer;
    color: #5e478b;
}

.plus-icon-container:hover .plus-icon {
    color: #3d2f5e;
}

.stage-container {
    padding: 5px 10px;
    width: 100%;
    background: #ffffff;
    margin-bottom: 20px;
    border: 2px dashed #afafaf;
    border-radius: 5px;
}

.stage-container-body {
    padding: 10px
}

.countdown-input {
    height: 50px !important;
    margin: 10px 0;
}

.stage-container-footer {
    width: 100%;
    height: 50px;
}

.stage-container-body .stage-number {
    padding: 5px 10px;
    height: 30px;
    background: #5e478b;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.stage-footer-icons {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    margin: auto 0;
    cursor: pointer;
    background: #ffffff;
    color: #fff;
    border: none;
    position: relative;
}

.stage-footer-icons .footer-icons {
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.stage-footer-icons.delete {
    border: 1px solid #de0000;
    color: #de0000;
}

.stage-footer-icons.delete:hover {
    color: #ffffff;
    background: #de0000;
}

.stage-footer-icons.save {
    border: 1px solid #5e478b;
    color: #5e478b;
}

.stage-footer-icons.save:hover {
    background: #5e478b;
    color: #ffffff;
}

.stage-footer-icons.done {
    margin-left: 15px;
    color: #05963a;
    border: 1px solid;
}

.stage-footer-icons.done:hover {
    color: #ffffff;
    background: #05963a;
}

.stage-container-body .title {
    color: #5e478b;
    border-bottom: 2px solid #3d2f5e;
    margin: 20px 0 0;
}

.stage-container-body .description {
    margin-top: 20px;
    text-align: justify;
}

.stage-container-body .date {
    display: block;
    width: 160px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: bold;
    background: #3d2f5e;
    font-size: 14px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.task-completed {
    width: 180px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    color: #05963a;
    font-weight: bold;
    height: 40px;
    margin-top: 7px;
    font-size: 16px;
    border-radius: 5px;
}

.countdown-btn {
    margin: 0 auto;
}

.else-container {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: space-around;
    float: right;
    margin-right: 10px;
}

.stage-title {
    color: #3b2c58;
    margin: 0;
}

.stage-datetime {
    color: grey;
}

.stages-title {
    text-align: center;
    color: #8e8e8e;
    font-size: 24px;
    margin-bottom: 0;
}